<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>COGETEFI</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1>Lanceurs de Cogétéfi</h1>
        </header>    
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('lanceur', lanceur='Enveloppes') }}">Enveloppes</a></li>
                <li><a href="{{ url_for('lanceur', lanceur='Lindab') }}">Lindab</a></li>
                <li><a href="{{ url_for('lanceur', lanceur='Mif') }}">Mif</a></li>
                <li><a href="{{ url_for('menu') }}">Nièvre Habitat</a></li>
                <li><a href="{{ url_for('lanceur', lanceur='P2r') }}">P2R</a></li>
            </ul>
        </nav>
        <section>
            <div class="wrapper">
                    {% block body %}{% endblock body%}
            </div>
        </section>
        <footer>
            <span>&copy; Copyright {{ now.year }} &middot; COGETEFI. All rights reserved.</span>
        </footer>
    </body>
</html>
